h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    color: rgb(0, 0, 0);
    background-color: #acacac;
    width: max-content;

    padding: 0.1em;
    margin: auto;

    display: grid;
    grid-template-rows: repeat(11, 3em);
    grid-template-columns: repeat(5, 5em);
}

/*Especificidad: 011*/
input[type=text] {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;

    width: auto;

    color: black;
    background-color: #bdbdbd;

    text-align: right;
    text-overflow: ellipsis;

    grid-column-end: span 5;
}

input[value="1"],
input[value="2"],
input[value="3"],
input[value="4"],
input[value="5"],
input[value="6"],
input[value="7"],
input[value="8"],
input[value="9"],
input[value="0"],
input[value="."] {
    font-weight: bold;
}

input[value="HYP"],
input[value="F-E"] {
    grid-column-end: span 2;
}